$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #000f2f,
    ),
    grey: (
        1:#f5f5f5,
        2:#f5f7fb,

    ),
    text: (
        body:#333f59,
        2:#7e8188,
        3:#949db1,
        4:#737383,
    ),
    theme: (
        primary: #2c79ff,
        secondary:#ffa423,
        bg:#0e2d62,
        bg-2:#020c2a,

    ),
    border: (
        1: #000f2f,
        2:#eeeff0,
    )
);

